[options]
{#- WARNING: default master password is 'admin', CHANGE IT after done installing #}
db_host = {{ salt['pillar.get']('openerp:db_host','127.0.0.1') }}
db_port = {{ salt['pillar.get']('openerp:db_host','5432') }}


db_user = {{ salt['pillar.get']('openerp:db_host','openerp') }}
db_password = {{ salt['pillar.get']('openerp:db_host','False') }}
